.BodyFondo{
    background: url(../../../Image/zyro-imageFondo.png);
    // background-color:  #04a2dc ;
    position:fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
	align-items: center;
}
