.icon_face{
    position: fixed;
    width: 27px;
    height: 27px;
    background: url(../../../Image/iconos/facebook.png);
    background-size: cover;
	align-items: center;
    margin-top: 10px;
	margin-left: 46%;
}
.icon_insta{
    position: fixed;
    width: 27px;
    height: 27px;
    background: url(../../../Image/iconos/instagram.png);
    background-size: cover;
	align-items: center;
    margin-top: 10px;
	margin-left: 49.5%;
}
.icon_wpp{
    position: fixed;
    width: 27px;
    height: 27px;
    background: url(../../../Image/iconos/whatsapp.png);
    background-size: cover;
	align-items: center;
    margin-top: 10px;
	margin-left: 53%;
}
.icon_marcador{
    position: fixed;
    width: 1.15%;
    height: 2.3%;
    background: url(../../../Image/iconos/marcador.png);
    background-size: cover;
	align-items: center;
	margin-left: 40%;
}
.icon_user{
    position: fixed;
    width: 43px;
    height: 43px;
    background: url(../../../Image/iconos/usuario.png);
    background-size: cover;
	align-items: center;
	margin-left: 94%;
    margin-top:30px;
}
.icon_config{
    position: fixed;
    width: 15px;
    height: 15px;
    background: url(../../../Image/iconos/configuraciones.png);
    background-size: cover;
	align-items: center;
	margin-left: 96.5%;
    margin-top: 65px;
}

.icon_diente{
    position: fixed;
    width:20px;
    height: 20px;
    background: url(../../../Image/iconos/diente.png);
    background-size: cover;
	align-items: center;
	margin-left: 2%;
    margin-top: 8px;
}